<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.1" package="com.companyname.AisBriefing" android:installLocation="internalOnly" android:versionCode="2">
	<uses-sdk android:minSdkVersion="26" android:targetSdkVersion="30" />
	<application android:label="AisBriefing" android:theme="@style/MainTheme"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>